.App {
  text-align: center;
}
.nameDisplay{
  font-size: 50px;
  padding: 20px;
}

.containerButtons {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

button {
  padding: 10px;
  font-size: 18px;
  background-color: transparent;
  border: solid 1px black;
  cursor: pointer;
}
